.vscode/**
.vscode-test/**
src/**
tests/**
out_test/**
scripts/**
tsconfig.json
esbuild.js
.git/**
.gitignore
.DS_Store
.tokenopt/**
CHANGELOG_PUBLIC.md
CHANGELOG_INTERNAL.md
INTERNAL_ARCHITECTURE_AND_FEATURES.md
*.vsix
